.foto-perfil{
  height: 150px;
  width: 150px;
border-radius: 50%;
};

.dark{
  background-color: black;
  color: lightslategray;
}

.col:hover{
  background-color: darkblue;
  color: white;
}
